#login-page {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap-reverse;
}

#clients-page {
    display: none;
}

#add-client-page {
    display: none;
}

#edit-client-page {
    display: none;
}